<header class="site-header">

  <div class="wrapper">
  <nav class="navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <i class="fa fa-lg fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">ADFNTURES</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/destinations">Destinations</a></li> 
        <li><a href="/about">About</a></li> 
      </ul>
    </div>
  </nav>
  </div>

</header>