<div class="instagram-feed">

<h4 class="text-center instagram-header"><i class="fa fa-instagram"></i> <a href="http://instagram.com/explore/tags/adfntures/" target="_blank">#adfntures</a> on Instagram</h4>
  
<!-- Nix -->
<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f2536704b99357f09f68044ff7985059.html" id="lightwidget_f2536704b9" name="lightwidget_f2536704b9"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; display:block;"></iframe><iframe src="//lightwidget.com/widgets/9d10eef1ef365b5ea46dd620130d786e.html" id="lightwidget_9d10eef1ef" name="lightwidget_9d10eef1ef"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; display:block;"></iframe>

</div>