$navbar-height: 56px;

.navbar-brand,
.navbar-nav li a,
.navbar-toggle {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

// Bootstrap navbar
.navbar {
    border-radius: 0px;
    border: none;
    margin-bottom: 0;

    .navbar-brand {
        font-size: 14pt;
        padding-left: 0px;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .navbar-collapse {
        padding-right: 0px;
    }
}

.navbar-toggle {
    border: none;
    border-radius: 0px;
    margin: 0;
}

.nav {
    @include media-query($on-palm) {
        border-top: 1px solid #eee;
    }

    margin-top: 0px;
}

.nav > li {
    font-weight: 300 !important;
    font-size: 11pt;

    @include media-query($on-palm) {
        font-size: 13pt;

        &:active {
            background-color: #fafafa;
        }
    }

    & > a:hover {
        background: none;
    }

    &:hover{
        text-decoration: underline;
    }
}

/**
 * Site header
 */
 .site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: $navbar-height;
    font-family: $alt-font-family;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 16pt;
    line-height: $navbar-height;
    margin-bottom: 0;
    float: left;
    font-weight: 300;

    &,
    &:visited {
        color: $dark-text-color;
    }

    transition: color 0.3s;

    &:hover{
        text-decoration: none;
    }
}

// .site-title {
//     font-size: 11pt;
//     line-height: 56px;
//     letter-spacing: 4px;
//     margin-bottom: 0;
//     float: left;
//     font-weight: 700;

//     &,
//     &:visited {
//         color: #ccc;

//         b{
//             color: $grey-color-dark;
//         }
//     }

//     transition: color 0.3s;

//     &:hover{
//         text-decoration: none;
//         color: $grey-color-dark;
//     }
// }

.site-nav {
    font-size: 11pt;
    float: right;
    line-height: $navbar-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        // letter-spacing: 1px;
        color: $dark-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        background-color: $background-color;
        text-align: right;
        position: absolute;
        right: 20px;

        .menu-icon {
            display: block;
            float: right;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            width: 100%;
            display: block;
            border-bottom: 1px solid #999;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    // border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-family: $alt-font-family;
    font-weight: 300;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    // margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
 .page-content {
    padding: $spacing-unit * 2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    text-align: center;

    p {
        text-align: left;

        a {
            border-bottom: 1px dotted #555;

            &:hover{
                text-decoration: none;
                border-bottom: 1px solid #555;
            }
        }
    }

    h2 {
        font-size: 36px;
        line-height: 1;
        margin-bottom: 0;
    }

    .post-list-item {
        border-top: 1px solid #f2f2f2;
        margin-top: $spacing-unit * 1.5 * 1.2;
        padding-top: $spacing-unit * 2 * 1.2;
    }

    .post-list-item:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    .post-list-header {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit/2;
    }

    a.post-link{
        line-height: 1.3em;
        font-size: 36px;
        font-weight: 300;
        font-family: $alt-font-family;
        color: $text-color;
    }

    > li {
        margin-bottom: $spacing-unit;
    }

}

.post-meta {
    font-family: $base-font-family;
    font-size: $base-font-size * 1.1;
    font-weight: 400;
    color: $grey-color;

    a {
        color: $grey-color;
    }
}

.post-link {
    font-weight: 500;
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
 .post-header {
    margin-top: $spacing-unit * 0.5;
    margin-bottom: $spacing-unit;

    h1{
        margin-bottom: 0;
    }

    text-align: center;

    a:hover, a h2:hover {
        text-decoration: underline !important;
    }
}



.post-title {
    // text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 54px;
    line-height: 1.3em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

// Used for progressive img blur up effect
.img-placeholder {
    background-color: #fafafa;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        // width: 100%;
        height: 720px;
        transition: opacity 0.3s ease-in-out;

        &.loaded {
            opacity: 1;
        }
    }
}

.img-small{
    transform: scale(1.03);
    filter: blur(50px);
    -webkit-filter: blur(50px);
}

img.post-cover-image {
    width: 100%;
}

.post-content {
    margin-bottom: $spacing-unit;
    $m: 20px;

    img{
        margin-top: $m;
        margin-bottom: $m;
    }

    .twitter-tweet,
    .instagram-media
    {
        margin-top: $m * 1.5 !important;
        margin-bottom: $m * 1.5 !important;

        // Center align?
        margin-left: auto !important; margin-right: auto !important;
    }

    h1,h2,h3,h4,h5,h6{
        margin-top: 1.5em;
        font-family: $alt-font-family;
    }

    $margin-sides: -3%;

    em img{
        margin-left: $margin-sides;
        margin-right: $margin-sides;
        min-width: 100% - $margin-sides * 2;
        max-width: 100% !important;
    }

    strong img{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .portrait {
        margin-left: $margin-sides;
        margin-right: $margin-sides;
        margin-bottom: 12px;

        img {
            width: 49.3%;
            display: inline-block;

            &:last-child {
                float: right;
            }
        }
    }

    // Img caption
    em + em,
    img + em,
    strong + em
    { 
        display: block;
        color: #aaa;
        text-align: center;
        // margin-top: 8px;
        // margin-bottom: $m;
        font-style: italic;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

.post {
    a {
        border-bottom: 1px dotted #555;

        &:hover{
            text-decoration: none;
            border-bottom: 1px solid #555;
        }
    }

    .page-navigation {
        border-top: 1px solid $grey-color-light;
        padding-top: $spacing-unit;
        font-family: $alt-font-family;

        .previous, .next{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .next {
            text-align: right;
        }

        span{
            color: $grey-color;
            letter-spacing: 2px;
            font-size: 9.5pt;
            font-weight: 300;
        }
    }
}

#home {
    h1, h2{
        text-align: center;
        margin: 0;
        color: #222222;
    }

    h1 {
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 40pt;
    }

    h2 {
        letter-spacing: 1px;
        font-size: 14pt;
        font-weight: 300;
        margin-bottom: $spacing-unit * 2;
    }

    .center-cropped{
        margin-bottom: 5px;
        width: 100%;

        $height: 300px;

        height: $height;
        line-height: $height;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        text-align: center;

        color: white;
        font-size: 18pt;
        font-family: $alt-font-family;
        font-weight: 300;

        i {
            margin-right: 0.2em;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}

.instagram-feed { 
    font-family: $alt-font-family;
    font-weight: 300;

    .instagram-header {
        background-color: #222;
        margin: 0;
        padding: 20px 20px;
        color: white;
    }

    .instagram-header a {
      color: white;
      border-bottom: 1px dotted white;
  }

  .instagram-header a:hover{
      border-bottom: 1px solid white;
      text-decoration: none;
  }
}

#social-links {
    h3{
        margin-top: 0.8em;
    }

    a{
        border: none;
    }
}